.loginPage {
  min-height: 100vh;
  width: 100vw;
}

._loading_overlay_wrapper {
  min-height: 100vh;
  width: 100vw;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

.login-aside{
  background-color: #EEEEEE;
}

.login-aside-header {
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.loginLogo {
  width: 15%;
}

.login-header {
  font-weight: 600;
}

.loginItem {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  margin-left: 50px;
  margin-top: 20px;
}

.loginItem1 {
  margin-top: 20px;
}

.loginInput {
  border-radius: 10px;
  border-color: #777777;
  border-width: 1px;
}

.motto {
  color: white;
  font-family: sans-serif;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
}

.test1 {
  border: red solid 1px;
}

.test2 {
  border: blue solid 2px;
}

.test3 {
  border: green solid 3px;
}
