.dashboard {
  flex: 7;
  border-radius: 0px;
  margin-right: 0px;
  min-height: calc(100vh - 70);
}

.dashboard-header {
  font-size: 25px;
}

.bold-text {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}
