.dashboard {
  flex: 7;
  background-color: #f2f2f2;
  border-radius: 0px;
  margin-right: 0px;
}

.pageName {
  font-family: sans-serif;
  font-weight: bold;
}

.test1 {
  border: red solid 1px;
}

.test2 {
  border: blue solid 2px;
}

.test3 {
  border: green solid 3px;
}
