.featured {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1;
  margin: 0 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  border: 1px solid lightgray;
  -webkit-box-shadow: 0 0 1px -1px #000000;
  box-shadow: 0 0 1px -1px #000000;
}

.featuredTitle {
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.featuredAllOrdersContainer {
  display: flex;
  align-items: center;
}

.featuredValue {
  font-size: 28px;
  font-weight: bold;
}

.featuredAllOrdersRate {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.featuredIcon.positive {
  font-size: 14px;
  margin-left: 5px;
  color: green;
}

.featuredIcon.negative {
  font-size: 14px;
  margin-left: 5px;
  color: red;
}

.featuredSub {
  font-size: 18px;
  color: gray;
}

.ordersLink {
  text-decoration: none;
  color: #000000;
}

.test1 {
  border: red solid 2px;
}
