.subscription {
    flex: 7;
    overflow-x: scroll;
    background-color: #FCFCFC;
    border-radius: 0px;
    margin-right: 0px;
    min-height: 100vh;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seconds-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}