.subscription {
    flex: 7;
    min-height: calc(100vh - 70px);
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seconds-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

.plan-text{
    font-weight: 600;
}

.price-text{
    font-weight: bold;
}

.account-text{
    font-weight: 5000;
}

.plan-wrapper {
    z-index: 1;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(156,156,156, 0.3);
}

.success-wrapper {
    width: 60%;
    box-shadow: 0 0 30px rgba(156,156,156, 0.3);
}