.payment-method-container {
  flex: 7;
  overflow-x: scroll;
  background-color: #f2f2f2;
  border-radius: 0px;
  margin-right: 0px;
  min-height: 100vh;
}

.form-wrapper {
  padding: 15px;
  margin: 15px;
  width: 700px;
  height: 600px;
  position: relative;
}

.p-3.topRight {
  right: 0 !important;
  z-index: 1000;
  top: 11% !important;
  position: absolute !important;
} 