.option-container {
    height: 15%;
    width: 60%;
    border: 1px white solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.option-container:hover {
    box-shadow: 0 0 30px rgba(156,156,156, 0.3);
    cursor: pointer;
}