.shopifyContainer {
    flex: 7;
    background-color: #f2f2f2;
    border-radius: 0px;
    margin-right: 0px;
    min-height: 100vh;
}

.shopifyConnect {
    text-align: center;
    margin-top: 40px;
}

.shopifyLogo {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.shopifyButton {
    background-color: #565656;
    border-color: #565656;
    cursor: pointer;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    font-size: 20px;
}