.create {
    flex: 7;
    min-height: calc(100vh - 70px);
}

.form-border {
    border-radius: 10px;
}

.model-border {
    border: 1px solid black;
    border-radius: 40px;
}

._loading_overlay_overlay {  position: fixed; }
._loading_overlay_wrapper {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    min-height: calc(100vh - 70px);
}

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}