.create {
    flex: 7;
    min-height: calc(100vh - 70px);
}

.form-border {
    border-radius: 10px;
}

.model-border {
    border: 1px solid black;
    border-radius: 40px;
}

.btn-text {
    font-size: 18px;
}

.create_loader_wrapper {
    /*height: calc(100vh - 70px);*/
    min-height: calc(100vh - 70px);
    width: 100vw;
    background-color: #FAFAFA;
    margin: 0 auto;
    padding: 0 var(--bs-gutter-x, 0.75rem);
}

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}