:root {
    --PRIMARY: #9400d3;
    --SECONDARY: #6BFF2C;
    --GREEN: #6BFF2C
}

.sidebar {
    flex: 1;
    height: calc(100vh - 70px);
    background-color: white;
    position: sticky;
    top: 50px;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 15px;
}

.sidebarIcon {
    margin-right: 15px;
    font-size: 20px !important;
}

.sidebarListItem:hover .sidebarIcon {
    filter: invert(15%) sepia(93%) saturate(6799%) hue-rotate(283deg) brightness(85%) contrast(115%);
}

.sidebarListItem:hover .item-hover {
    color: var(--PRIMARY);
}

.sidebarListItem1 {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-top: 15px;
}

.sidebarListItem1:hover {
    color: var(--PRIMARY);
}

.currentLink {
    color: var(--PRIMARY);
}

.currentIcon {
    filter: invert(15%) sepia(93%) saturate(6799%) hue-rotate(283deg) brightness(85%) contrast(115%);
}

.filter-white {
    filter: invert(90%) sepia(98%) saturate(0%) hue-rotate(346deg) brightness(104%) contrast(102%);
}
