.signupPage {
  min-height: 100vh;
  width: 100vw;
}

.signup-aside{
  background-color: #EEEEEE;
}

.signupLogo {
  align-items: center;
  display: block;
  width: 15%;
}

.signup-header {
  font-weight: 600;
}

.signupInput {
  height: 50px;
  width: 600px;
  border-radius: 10px;
  border-color: #777777;
  border-width: 1px;
}

.signupInput1 {
  height: 50px;
  width: 280px;
  border-radius: 10px;
  border-color: #777777;
  border-width: 1px;
}

.signUp {
  margin-top: 20px;
  background-color: #9400d3;
  height: 70px;
  border-radius: 50px;
  color: white;
  border-color: #9400d3;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.signup-aside-header {
  font-weight: 700;
}

.signup-aside-text {
  font-weight: 500;
}

.pass-wrapper {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.eye-icon {
  position: absolute;
}
