.app-container {
  display: flex;
}

.sidebar {
  flex: 0.5;
  height: 100vh;
  position: sticky;
  top: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.test1 {
  border: red solid 1px;
}

.test2 {
  border: blue solid 2px;
}

.test3 {
  border: green solid 3px;
}

.test4 {
  border: pink solid 4px;
}

.font-normal {
  font-family: 'Inter-Regular', sans-serif;
}

.font-medium {
  font-family: 'Inter-Medium', sans-serif;
}

.font-semibold {
  font-family: 'Inter-SemiBold', sans-serif;
}

.page-container {
  flex: 9;
  min-height: 100vh
}

.tab-container {
  flex: 9;
}

.help-text {
  color: #777777;
}

.counter-wrapper {
  background-color: #C4C4C4;
  width: 50px;
  height: 50px
}

.tile-wrapper {
  background-color: #F3F3F3;
}

.counter-text {
  font-size: 24px;
}

.new {
  background-color: #F44336
}

.pending {
  background-color: #9933CC;
}

.dispatching {
  background-color: #FFC107
}

.en-route {
  background-color: #4285F4
}

.completed {
  background-color: #00ff66
}

.cancelled {
  background-color: #565656;
}

.unknown {
  background-color: #795548
}

.aside {
  background-color: #EEEEEE;
}

.topRight {
  right: 0 !important;
  z-index: 1000;
  top: 11% !important;
  position: absolute !important;
}

.topLeft {
  left: 0 !important;
  z-index: 1000;
  top: 11% !important;
  position: absolute !important;
}

.bottomRight {
  right: 0 !important;
  z-index: 1000;
  bottom: 11% !important;
  position: absolute !important;
}

.connectButton {
  border-color: #565656;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  height: 50px;
  width: 100%;
  font-size: 20px;
}

.table-edit-btn {
  background-color: #565656;
  border-color: #565656;
  cursor: pointer;
  border-width: 0;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 0;
}

.img-red {
  filter: invert(33%) sepia(51%) saturate(3608%) hue-rotate(334deg) brightness(88%) contrast(96%);
}

.img-grey {
  filter: invert(77%) sepia(20%) saturate(0%) hue-rotate(205deg) brightness(102%) contrast(89%);
}

.img-blue {
  filter: invert(53%) sepia(95%) saturate(6125%) hue-rotate(197deg) brightness(94%) contrast(80%);
}

.action-button {
  background-color: #565656;
  border-color: #565656;
  cursor: pointer;
  border-width: 0;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 0px;
}

.form-border {
  border-radius: 10px;
}

