.app-container {
  display: flex;
}

.sidebar {
  flex: 1;
  height: calc(100vh - 70px);
  background-color: white;
  position: sticky;
  top: 50px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.test1 {
  border: red solid 1px;
}

.test2 {
  border: blue solid 2px;
}

.test3 {
  border: green solid 3px;
}

.test4 {
  border: pink solid 4px;
}

.help {
  flex: 7;
  background-color: #f2f2f2;
}

.help-text {
  color: #777777;
}

.counter-wrapper {
  background-color: #C4C4C4;
  width: 50px;
  height: 50px
}

.tile-wrapper {
  background-color: #ffffff;
}

.counter-text {
  font-size: 24px;
}

.new {
  background-color: #F44336
}

.pending {
  background-color: #9933CC;
}

.dispatching {
  background-color: #FFC107
}

.en-route {
  background-color: #4285F4
}

.completed {
  background-color: #00ff66
}

.cancelled {
  background-color: #565656;
}

.unknown {
  background-color: #795548
}

.aside {
  background-color: #EEEEEE;
}

.topRight {
  right: 0 !important;
  z-index: 1000;
  top: 11% !important;
  position: absolute !important;
}

.topLeft {
  left: 0 !important;
  z-index: 1000;
  top: 11% !important;
  position: absolute !important;
}

.bottomRight {
  right: 0 !important;
  z-index: 1000;
  bottom: 11% !important;
  position: absolute !important;
}

