.orderTitle {
    font-size: 40px;
    font-weight: bold;
}

.orderDetailsTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orderAddButton {
    width: 75%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.orderShow {
    background-color: white;
    flex: 1;
    -webkit-box-shadow: 0 0 15px -10px #000000;
    box-shadow: 0 0 15px -10px #000000;
}

.orderUpdate {
    background-color: white;
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0 0 15px -10px #000000;
    box-shadow: 0 0 15px -10px #000000;
    margin-left: 20px;
}

.deliveryDetails {
    background-color: white;
    flex: 1;
    -webkit-box-shadow: 0 0 15px -10px #000000;
    box-shadow: 0 0 15px -10px #000000;
    margin-left: 20px;
}

.groupTitle {
    font-weight: 600;
}

.orderShowTitle {
    font-size: 14px;
    font-weight: 600;
    color: lightgray;
}

.orderShowInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    color: #444;
}

.orderShowLabel {
    font-size: 20px;
    font-weight: bold;
}

.orderShowInfoTitle {
    margin-left: 10px;
    font-size: 20px;
}

.productItem {
    display: flex;
}

.orderUpdateTitle {
    margin-left: 20px;
    font-weight: bold;
}

.productImg {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 20px;
}

.productName {
    margin-left: 20px;
    margin-top: 100px;
    text-align: center;
}

.productQuantity {
    margin-left: 40px;
    margin-top: 100px;
}

.trackOrderBtn {
    border-radius: 10px;
}

.bg-alert-success {
    background-color: #000
}

input.modal-form, textarea.modal-form {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input.form-control:focus, textarea.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card-wrapper {
    background-color: #fff;
    border-radius: 10px;
}

.panel-value {
    font-size: 2.5rem;
    font-weight: 500;
}

.panel-label {
    font-size: 1rem;
}

.view_order_loading_wrapper {
    min-height: 100vh;
    width: 100vw;
    background-color: white;
    margin: 0 auto;
    padding: 0 var(--bs-gutter-x, 0.75rem);
    display: flex;
}

.intro-content {
    height: calc(100vh * 0.3);
}

/*._loading_overlay_wrapper{
    flex: 7;
    height: calc(100vh - 70px);
    width: 100%;
    padding: 0;
    margin: 0;
}*/


