.viewOrder {
    flex: 7;
    padding: 20px;
    min-height: calc(100vh - 70px);
}

.orderTitle {
    font-size: 40px;
    font-weight: bold;
}

.orderDetailsTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orderAddButton {
    width: 75%;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.orderContainer {
    display: flex;
}

.orderShow {
    background-color: white;
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px #000000;
    box-shadow: 0px 0px 15px -10px #000000;
}

.orderUpdate {
    background-color: white;
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px #000000;
    box-shadow: 0px 0px 15px -10px #000000;
    margin-left: 20px;
}

.deliveryDetails {
    background-color: white;
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px #000000;
    box-shadow: 0px 0px 15px -10px #000000;
    margin-left: 20px;
}

.orderShowCustomerName {
    font-weight: 600;
}

.orderShowBottom {
    margin-top: 20px;
}

.orderShowTitle {
    font-size: 14px;
    font-weight: 600;
    color: lightgray;
}

.orderShowInfo {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.orderShowLabel {
    font-size: 20px !important;
    font-weight: bold;
}

.orderShowInfoTitle {
    margin-left: 5px;
}

.productItem {
    display: flex;
}

.orderUpdateTitle {
    margin-left: 20px;
    font-weight: bold;
}

.productImg {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 20px;
}

.productName {
    margin-left: 20px;
    margin-top: 100px;
    text-align: center;
}

.productQuantity {
    margin-left: 40px;
    margin-top: 100px;
}

.trackOrderBtn {
    width: 45%;
    border-radius: 10px;
}


