.ordersList {
  flex: 7;
  background-color: #f2f2f2;
  padding: 5px;
  min-height: 100vh;
  font-family: sans-serif;
}

.totalOrders {
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}

.grid {
  margin-top: 20px;
  margin-left: 20px;
}

.OrdersListEdit {
  background-color: #565656;
  border-color: #565656;
  cursor: pointer;
  border-width: 0;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 0px;
}

.test1 {
  border: blue solid 1em;
}
