.totalOrders {
    font-weight: bold;
}

.OrdersListEdit {
    background-color: #565656;
    border-color: #565656;
    cursor: pointer;
    border-width: 0;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 0px;
}
